section.articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog__article {
    width: 100%;
    display: flex;
    gap: 40px;
}

.blog__article > .article-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    width: 100%;
}

.read-more-btn {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: .3s;
    padding: 10px 35px;
    text-align: center;
    margin-top: auto;
}

.read-more-btn:hover {
    background-color: #fff;
    color: var(--main-color);
}

.blog__article figure {
    border-radius: 30px;
    overflow: hidden;
}

h2 {
    color: var(--main-color);
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.filter-items {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filter-item .filter-btn {
    padding: 10px 25px;
    color: #000;
    border: 2px solid #F1F1F1;
    border-radius: 20px;
    transition: .3s;
}

.filter-item .filter-btn.active {
    color: var(--main-color);
    background-color: #E5E9F7;
    border-color: #E5E9F7
}


