@media screen and (max-width: 1421px) {
    .page-header__page-navigation > ul {
        gap: 10px 40px;
    }

    .page-header {
        gap: 37px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1010px) {
    .page-footer .articles-keeper .stories {
        width: 100%;
    }

    .page-footer .articles-keeper .stories .sub-menu-article-list {
        display: flex;
        justify-content: space-between;
    }

    .page-footer .articles-keeper .stories .sub-menu-article-list li:not(:first-child) {
        margin-top: 0;
    }

    .page-footer .articles-keeper .stories .sub-menu-article-list li {
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .page-footer .articles-keeper .stories .sub-menu-article-list li a:first-child {
        margin-bottom: 40px;
    }

    .page-footer .articles-keeper .stories .sub-menu-article-list li:nth-child(2) {
        margin-left: -13px;
    }

    .page-footer .articles-keeper .stories .sub-menu-article-list li:last-child {
        width: 276px;
    }

    .page-footer .privacy-policy.desktop,
    .page-footer .all-rights-reserved.desktop {
        display: none;
    }

    .page-footer .privacy-policy.portable,
    .page-footer .all-rights-reserved.portable {
        display: block;
    }
}

@media screen and (max-width: 1286px) {
    .page-header {
        gap: 19px;
    }
}

@media screen and (max-width: 1252px) {
    .page-header {
        gap: 6px;
    }
}

@media screen and (max-width: 1230px) {
    .main-content .main-btn-view:not(.become-client, .reg-btn) {
        width: 100%;
    }

    .page-header__logo-block {
        margin-right: initial;
    }

    .page-header__page-navigation > ul {
        gap: 10px 36px;
    }
}

@media screen and (max-width: 1210px) {
    .page-header {
        gap: 6px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1150px) {
    .tariffs-and-costs .table-wrapper > h2 {
        padding-right: 700px;
    }
}

@media screen and (max-width: 1170px) {
    .main-content .achievements {
        grid: repeat(2, minmax(106px, 1fr)) / repeat(22, 1fr);
    }

    .main-content .achievements .achievement.experience {
        grid-column: 1 / 6;
    }

    .main-content .achievements .achievement.modules {
        grid-column: 6 / 15;
    }

    .main-content .achievements .achievement.clients {
        grid-column: 15 / 23;
    }

    .main-content .achievements .achievement.agile {
        background: var(--main-color) url(../img/girl_2.svg) no-repeat 89% 122% / 132px;
        grid-area: 2 / 14 / 3 / 23;
        display: flex;
        flex-direction: row;
    }

    .turkish .main-content .achievements .achievement.agile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .turkish .main-content .achievements .achievement.agile span:first-child {
        font-size: 25px;
    }

    .turkish .main-content .achievements .achievement.agile span:last-child {
        margin-left: 0;
        font-size: 14px;
    }

    .main-content .achievements .achievement.licences {
        grid-column: 1 / 7;
    }

    .main-content .achievements .achievement.hours {
        grid-column: 7 / 14;
    }

    .main-content .achievements .achievement {
        padding: 36px;
        display: flex;
    }

    .main-content .achievements .achievement:not(.agile) {
        justify-content: center;
    }

    .main-content .achievements .achievement.agile {
        align-items: center;
    }

    .main-content .achievements .achievement span:first-child {
        font-size: 36px;
    }

    .main-content .achievements .achievement.agile span:last-child {
        margin-left: 10px;
    }

    .main-content .achievements .achievement:not(.agile) span:last-child {
        width: initial;
    }
}

@media screen and (max-width: 1150px) {
    .table-wrapper .table-row-title {
        padding: 30px 0 30px 30px;
    }

    .tariffs-and-costs-title,
    .popular-tariff {
        display: none;
    }

    .table-wrapper .second-tariff {
        border-radius: 12px 12px 0 0;
        z-index: 1;
        height: 214px;
        box-shadow: 0 0 50px -22px #000;
        bottom: calc(100% - 19px);
    }

    .white-mask {
        display: block;
    }

    .table-wrapper .table-row-title:first-child .hint {
        top: calc(100% + -92px);
    }
}

@media screen and (max-width: 1120px) {
    .header-wrapper,
    .cookie-notice {
        width: calc(100% - 60px);
    }

    .main-content .main-block .logo-preview {
        transform: translateX(0%);
    }

    .main-content .advantages-content {
        flex-wrap: wrap;
    }

    .main-content .advantages-article.text {
        display: grid;
        grid: repeat(2, 1fr) / repeat(2, minmax(150px, 1fr));
        width: 100%;
        gap: 15px;
    }

    .main-content .advantages-article.text div:nth-child(2) {
        width: auto;
    }

    .main-content .advantages-article.text div:last-child {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .main-content .advantages-article.img {
        width: 100%;
    }

    /* partners */

    .slider-conditions.partners .title-block,
    .slider-conditions.partners .section-content,
    .slider-conditions.partners .swiper-conditions {
        padding: 0;
    }

    .advantages-article.img span {
        display: block;
        text-align: center;
        position: static;
        padding-left: 0;
    }

    .advantages-article-item .advantages-article.img {
        margin-left: 0;
    }

    .advantages-article-item .advantages-article.img figure {
        margin: 0;
    }

    /* -------- */

    .main-content section:not(.trust-us, .reviews, .SAAS),
    .main-content .reviews .title-block,
    .main-content .SAAS .integrations .title-block,
    .main-content .SAAS .slider-title,
    .page-footer {
        padding: 0 30px;
    }

    .main-content.articles h1,
    .main-content.articles section {
        padding: 20px 30px;
    }

    .main-content section.calculator {
        padding: 44px 30px;
    }

    .main-content .reviews .slider-container {
        padding-left: 30px;
    }

    .main-content .SAAS .SAAS-cards {
        padding: 100px 30px;
    }

    .main-content .SAAS .SAAS-card ul li:not(:first-child) {
        margin-top: 19px;
    }

    .calculator {
        padding: 100px 30px;
    }
}

@media screen and (max-width: 1070px) {
    .main-content .achievements .achievement {
        padding: 30px;
    }

    .main-content .mass-media .media-blocks-container {
        grid: repeat(3, 1fr) / repeat(4, minmax(110px, 1fr));
    }

    .page-header__page-navigation > ul {
        gap: 10px 38px;
    }

    .page-header {
        gap: 22px;
    }
}

@media screen and (max-width: 1030px) {
    .page-header__page-navigation > ul {
        gap: 10px 32px;
    }
}

@media screen and (max-width: 1025px) {
    .page-header {
        gap: 20px;
    }

    .page-header__page-navigation > ul {
        gap: 10px 37px;
    }

    .slider-conditions .slider-navigation-btns {
        padding-right: 0;
    }
}

@media screen and (max-width: 1010px) {
    .page-footer .articles-keeper .social-links {
        margin: 40px 0;
    }

    .page-footer .articles-keeper {
        display: grid;
        grid: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 1010px) and (min-width: 812px) {
    .page-footer .sub-menu-article-list.industries__list {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 958px) {
    .designations > p:before {
        top: 27%;
    }
}

@media screen and (max-width: 950px) {
    .main-content .main-block .main-title-wrapper.desktop {
        display: none;
    }

    .main-content .main-block .main-title-wrapper.mobile {
        display: block;
    }

    .main-content .main-block .logo-preview {
        margin-top: 70px;
    }

    .main-content .main-block .main-btns-block {
        flex-wrap: nowrap;
    }

    .main-content .main-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-content section.trust-us {
        margin-top: 115px;
    }

    .main-content .SAAS .SAAS-card ul li {
        font-size: 16px;
    }

    .main-content .SAAS .SAAS-card h2 {
        font-size: 26px;
    }

    .main-content .SAAS .SAAS-card ul {
        margin: 45px 0 46px;
    }

    .main-content .SAAS .SAAS-card h2 {
        margin-top: 54px;
    }

    .main-content {
        padding-top: 0;
        margin: 89px 0 0;
    }
}

@media screen and (max-width: 945px) {
    .main-content .achievements .achievement span:first-child {
        font-size: 36px;
    }

    .main-content .blog .last-card-link.mobile-link {
        display: block;
    }

    .main-content .blog .blog__card.last-card {
        display: none;
    }

    .main-content .main-block .main-btns-block {
        justify-content: center;
    }

    .main-content .main-btn-view:not(.become-client, .reg-btn) {
        width: auto;
    }
}

@media screen and (max-width: 930px) {
    .table-sticky-header {
        grid: 130px / repeat(3, minmax(90px, 344px));
    }

    .empty-space {
        display: none;
    }

    .table-wrapper .table-row-title {
        padding: 30px 0 30px 0;
        grid: repeat(2, minmax(34px, 1fr)) / repeat(3, minmax(20px, 1fr));
        gap: 18px 0;
    }

    .table-wrapper .table-row-title:first-child {
        grid: minmax(34px, 1fr) 1px / repeat(3, minmax(20px, 1fr));
        gap: 0;
    }

    .table-wrapper .table-row-title:first-child .check {
        height: 1px;
    }

    .table-wrapper .table-row-title:after {
        z-index: 3;
    }

    .row-text {
        grid-column: 1 / 4;
        padding: 0 60px 0 30px;
    }

    .row-text > div {
        z-index: 2;
    }

    .white-mask {
        width: 100%;
        box-shadow: 0 -23px 41px -40px #000;
    }

    .table-wrapper .tariff-title {
        bottom: calc(100% + 47px);
    }

    .table-wrapper .second-tariff {
        bottom: calc(100% + 19px);
    }

    .info-mark > .hint {
        left: auto;
        right: 100%;
    }

    .table-wrapper .table-row-title .row-text > div {
        width: 100%;
    }

    .table-wrapper .designations {
        padding: 30px 17px;
    }
}

@media screen and (max-width: 900px) {
    .main-content .benefits .benefits-cards {
        grid: 1fr / 1fr;
    }

    .main-content .benefits .benefits-card {
        max-width: initial;
    }
}

@media screen and (max-width: 896px) {
    .main-content .achievements .achievement span:first-child {
        font-size: 27px;
    }

    .main-content .reviews .main-slider .swiper-slide .text-block {
        align-items: flex-start;
    }
}

@media screen and (max-width: 795px) {
    .main-content .achievements {
        grid: repeat(3, minmax(106px, 1fr)) / repeat(22, 1fr);
    }

    .main-content .achievements .achievement.experience {
        grid-column: 1 / 10;
    }

    .main-content .achievements .achievement.modules {
        grid-column: 10 / 23;
    }

    .main-content .achievements .achievement.clients {
        grid-area: 2 / 1 / 3 / 11;
    }

    .main-content .achievements .achievement.agile {
        background: var(--main-color) url(../img/girl_2.svg) no-repeat 89% 122% / 132px;
        grid-area: 3 / 10 / 3 / 23;
    }

    .main-content .achievements .achievement.licences {
        grid-column: 11 / 23;
    }

    .main-content .achievements .achievement.hours {
        grid-area: 3 / 1 / 4 / 10;
    }

    .main-content .achievements .achievement span:first-child {
        font-size: 37px;
    }
}

@media screen and (max-width: 768px) {
    .main-content .webinars .webinars-body .time-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 26px;
    }

    .main-content .main-btn-view.reg-btn {
        width: 100%;
        margin-top: 24px;
    }

    .page-header__page-navigation {
        display: none;
    }

    .hamburger-place,
    .hamburger-menu {
        display: block;
    }

    .header-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: none;
        border-radius: 0 0 10px 10px;
    }

    .table-sticky-header {
        width: calc(100% + 60px);
        transform: translateX(-30px);
        padding: 0 30px;
    }

    .table-wrapper .check {
        white-space: normal;
        padding: 0 10px;
    }
}

@media screen and (max-width: 700px) {
    .table-wrapper > .check {
        white-space: normal;
        text-align: center;
    }

    .question-title > h2 {
        font-size: 15px;
    }

    .answer-container > .answer {
        font-size: 14px;
    }
}

@media screen and (max-width: 696px) {
    .page-footer .privacy-policy.desktop,
    .page-footer .all-rights-reserved.desktop,
    .page-footer .articles-keeper .social-links,
    .page-footer .sub-title-wrapper,
    .page-footer .title-wrapper:before {
        display: none;
    }

    .page-footer .social-links.mobile,
    .page-footer .mobile-reserved-and-policy {
        display: block;
    }

    .page-footer .social-links.mobile {
        margin-top: 40px;
    }

    .page-footer .mobile-reserved-and-policy {
        margin-top: 30px;
    }

    .page-footer .mobile-reserved-and-policy .all-rights-reserved {
        margin-top: 8px;
    }

    .page-footer .title-wrapper {
        padding-left: 0;
    }

    .page-footer .product-menu-content > div:not(:first-child) {
        margin-top: 12px;
    }

    .page-footer .articles-keeper article:not(:last-child) {
        margin-right: 0;
        width: 100%;
    }

    .page-footer .footer-logo > figure {
        max-width: 130px;
    }
}

@media screen and (max-width: 690px) {
    .main-content .webinars {
        flex-wrap: wrap;
    }

    .main-content .webinars .webinars-body {
        width: 100%;
        min-height: 333px;
    }

    .main-content .webinars .subscribe {
        min-height: 406px;
    }

    .main-content .webinars .webinars-body .time-block {
        margin-top: 46px;
    }

    .main-content .main-btn-view.reg-btn {
        margin-top: 52px;
    }

    .main-content .SAAS .SAAS-cards {
        flex-wrap: wrap;
    }

    div.sections-wrapper > section.SAAS .SAAS-cards {
        padding: 0;
    }
}

@media screen and (max-width: 660px) {
    .main-content.articles .prioritization .person-info {
        flex-direction: column;
    }

    .main-content.articles .prioritization .person-info .text-block {
        padding-left: 0;
        margin-top: 10px;
    }

    .main-content.articles .prioritization .person-info figure {
        max-width: initial;
    }
}

@media screen and (max-width: 640px) {
    .english .table-sticky-header .tariff-title > h3,
    .english .table-wrapper .tariff-title > h3,
    .turkish .table-sticky-header .tariff-title > h3,
    .turkish .table-wrapper .tariff-title > h3 {
        font-size: 3vw;
        white-space: nowrap;
    }
}

@media screen and (max-width: 612px) {
    .main-content .advantages-article.text {
        grid: 1fr / 1fr;
    }

    .main-content .achievements {
        grid: repeat(4, minmax(106px, 1fr)) / repeat(22, 1fr);
    }

    .main-content .achievements .achievement.experience {
        grid-column: 1 / 7;
    }

    .main-content .achievements .achievement.modules {
        grid-column: 7 / 23;
    }

    .main-content .achievements .achievement.clients {
        grid-area: 2 / 1 / 3 / 11;
    }

    .main-content .achievements .achievement.agile {
        background: var(--main-color) url(../img/girl_2.svg) no-repeat 89% 122% / 132px;
        grid-area: 4 / 1 / 5 / 23;
    }

    .main-content .achievements .achievement.licences {
        grid-area: 3 / 1 / 4 / 23;
    }

    .main-content .achievements .achievement.hours {
        grid-area: 2 / 11 / 3 / 23;
    }

    .main-content .achievements .achievement span:first-child {
        font-size: 37px;
    }

    .main-content .mass-media .media-blocks-container {
        grid: repeat(4, 1fr) / repeat(2, minmax(110px, 1fr));
    }

    .main-content .mass-media .media-blocks-container .media-block:nth-last-child(-n + 4) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .main-content.articles .presenting__tags {
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
    }

    .presenting__tags time {
        margin-left: 38px;
    }

    .quick-start-content-wrapper {
        grid: 1fr / 1fr;
    }
}

@media screen and (max-width: 591px) {
    .table-control-btns {
        flex-direction: column;
    }

    .table-wrapper .tariff-title > h3 {
        font-size: 18px;
    }

    .table-wrapper .tariff-title > .tariff-price {
        font-size: 17px;
    }

    .table-wrapper .tariff-title > .tariff-period {
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    .main-content .reviews .main-slider .swiper-slide {
        flex-direction: column;
        height: auto;
        padding: 17px;
    }

    .main-content .reviews .main-slider .swiper-slide figure {
        max-width: initial;
    }

    .main-content .reviews .main-slider .swiper-slide img {
        height: auto;
    }

    .main-content .reviews .main-slider .swiper-slide .text-block {
        padding-left: 0;
        margin-top: 13px;
    }

    .main-content section:not(.trust-us, .reviews, .SAAS, .calculator),
    .main-content .reviews .title-block {
        padding: 0 20px;
    }

    .main-content .reviews .slider-container {
        padding-left: 20px;
    }

    .main-content .main-block .main-title-wrapper.mobile {
        padding: 0 23px;
    }

    .main-content .request .request-wrapper .block-container .request_title-img-desktop,
    .main-content .main-block .logo-preview {
        display: none;
    }

    .main-content .main-block .logo-preview-mobile {
        display: block;
    }

    .main-content .main-btn-view:not(.become-client, .reg-btn) {
        width: 100%;
    }

    .main-content .main-block .logo-preview-mobile,
    .main-content .main-block .main-btns-block {
        padding: 0 30px;
        margin-top: 50px;
    }

    .main-content .main-block .main-btns-block {
        flex-wrap: wrap;
        margin-top: 44px;
    }

    .main-content .title-block.spec {
        padding: 0 30px;
    }

    .main-content section.trust-us {
        margin-top: 90px;
    }

    .main-content .request .request-wrapper .block-container > figure {
        display: flex;
        justify-content: center;
    }

    .main-content .request .request-wrapper .block-container .request_title-img-mobile {
        display: block;
        width: 220px;
    }

    .main-content .request .request-wrapper .presentation-btn {
        width: 100%;
    }

    .main-content .request .request-wrapper {
        padding: 50px 25px;
    }

    .main-content section.request {
        margin-top: 50px;
    }
}

@media screen and (max-width: 566px) {
    .table-sticky-header .tariff-title > h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 558px) {
    .table-control-btns {
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .main-content section.calculator {
        padding: 44px 0;
    }

    .calc-form {
        padding: 0 30px;
    }

    .table-wrapper .table-row-title .row-text {
        padding: 0 75px 0 22px;
    }

    .table-wrapper .tariff-title > .tariff-period,
    .table-sticky-header .tariff-title > .tariff-period {
        font-size: 11px;
    }

    .english .table-sticky-header .tariff-title > h3,
    .english .table-wrapper .tariff-title > h3 {
        font-size: 19px;
    }

    .table-sticky-header .info-mark > .hint {
        left: 0;
        right: auto;
    }

    .swiper-conditions .swiper-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 512px) {
    .main-content .achievements {
        display: flex;
        flex-direction: column;
    }

    .main-content .achievements .achievement.agile {
        order: 1;
    }

    .page-header__btn-block .free-demo-btn {
        display: none;
    }

    .hamburger-menu {
        top: 25px;
    }

    .table-sticky-header .tariff-title > h3 {
        font-size: 15px;
        white-space: nowrap;
    }

    .table-sticky-header .tariff-title > .tariff-price {
        font-size: 14px;
    }

    .table-sticky-header .tariff-title > h3,
    .table-sticky-header .tariff-title > .tariff-price {
        white-space: nowrap;
    }
}

@media screen and (max-width: 500px) {
    .table-wrapper .table-row-title > div,
    .table-wrapper > .check {
        font-size: 15px;
    }
}

@media screen and (max-width: 490px) {
    .main-content .blog .blog__card .card-info {
        padding: 14px 21px 19px;
    }

    .main-content .blog .blog__card figure {
        max-height: 203px;
    }
}

@media screen and (max-width: 488px) {
    .table-wrapper .tariff-title > .tariff-period > .info-mark {
        background: url('../img/calculator/info.svg') no-repeat center / contain;
    }

    .english .table-sticky-header .tariff-title > .tariff-period > .info-mark {
        width: 31px;
        height: 31px;
    }

    .table-sticky-header .tariff-title > .tariff-period > .info-mark {
        background: url(../img/calculator/info-bright.svg) no-repeat center / contain;
    }

    .main-content .get-to-know .title-block h2 {
        text-align: center;
    }
}

@media screen and (max-width: 485px) {
    .english .table-wrapper .tariff-title > h3,
    .turkish .table-wrapper .tariff-title > h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .form-inputs-wrapper {
        grid: repeat(2, 1fr) / 1fr;
    }

    .form-inputs-wrapper .calc-form-field,
    .form-btn {
        width: 100%;
        max-width: initial;
    }

    .form-btns-wrapper {
        flex-direction: column;
    }

    .table-wrapper .table-row-title > div,
    .table-wrapper > .check {
        font-size: 14px;
    }
}

@media screen and (max-width: 458px) {
    .english .table-wrapper .tariff-title > h3,
    .turkish .table-wrapper .tariff-title > h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 426px) {
    .mobile-menu-platform {
        width: 100%;
    }

    .mobile-menu-platform .mobile-menu-list {
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 376px) {
    .table-wrapper .tariff-title > .tariff-price {
        font-size: 15px;
    }
}
